
@{
    ViewBag.Title = "Create";
}

<h2>新增客戶資料</h2>

<form method="post" action="save">
    <div>
        <div>姓名</div>
        <input type="text" name="txtName" />
    </div>
    <div>
        <div>電話</div>
        <input type="text" name="txtPhone" />
    </div>
    <div>
        <div>電子郵件</div>
        <input type="text" name="txtEmail" />
    </div>
    <div>
        <div>地址</div>
        <input type="text" name="txtAddress" />
    </div>
    <div>
        <div>密碼</div>
        <input type="text" name="txtPassword" />
    </div>
    <div>
        <input type="submit" value="提交並新增" />
    </div>
</form>