
@{
    ViewBag.Title = "AddToSession";
}

<h2>AddToSession</h2>

<h2>加入選課單</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>輸入數量</h4>
        <hr />
        <div class="form-group">
            <div class="col-md-10">
                @Html.TextBox("fCount", "1", new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
        <div class="form-group d-inline">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="加入" class="btn btn-dark" />
                <input type="hidden" name="fId" value="@ViewBag.fId" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("返回", "List", "Shopping", null, new { @class = "btn btn-outline-dark" })
</div>
