@model prjMVCDemo.Models.CCustomer
@{
    ViewBag.Title = "BindingById";
    string photo = "anonymous.jpg";
    if (Model != null)
    {
        photo = Model.fId + ".jpg";
    }
}

<h2>繫結客戶資料範例</h2>
<img width="300" src="~/Images/@photo"/>

@{ if (Model == null)
    {
        <h3>查無指定資料</h3>
    }
else
    {
        <h3>@Model.fName</h3>
        <p>@Model.fPhone</p>
        <p>@Model.fEmail</p>
    }
}